
---
const { task } = Astro.props
import { processImages } from '@data/pocketbase'
const images = processImages(task)
---

<div class={images.length ? 'flex flex-wrap mt-2 gap-4' : ''}>
  {
    images.map(image => (
      <img
        class='inline border-4 border-white rounded-xl'
        src={image.url}
        width='100'
      />
    ))
  }
</div>
