---
export const partial = true

import SingleProject from '@components/app/projects/SingleProject.astro'
import { addProject, addActivity } from '@data/pocketbase'

let project

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()

  const team_id = formData.get('team_id')?.toString() || ''
  const project_name = formData.get('project_name')?.toString() || ''

    try {
    project = await addProject(project_name, team_id)
  } catch (e: any) {
    console.log(e)
    return new Response(e.response.message, {
      status: e.response.code,
    })
  }

  await addActivity({
    team: project.team,
    project: project.id,
    text: `Project "${project.name}" created`,
    type: 'project_created',
  })

  Astro.response.headers.set('HX-Push-Url', `/app/project/${project.id}`)
}

---

<div id='slot' hx-swap-oob='true'>
  <SingleProject project={project} />
</div>
